<mat-card class="mat-card">
  <div class="mat-card-header">
    <mat-card-title>Assignee</mat-card-title>
    <div class="title-block">
      <div class="title">
        <div class="avatar"><span>JD</span></div>
        <div>
            <p class="lv-value">Jane Doe</p>
            <p class="lv-label">JXD123</p>
        </div>
      </div>
      <button class="mat-mini-button">SP-05</button>
    </div>
  </div>
  <div class="name-value-block location">
    <section>
      <mat-icon class="icon-md">location_on</mat-icon>
        <p class="lv-label">Assignee Location</p>
        <p class="lv-value">1217 London - Windsor TSO</p>
    </section>
  </div>
  <div class="name-value-block person">
    <section>
      <mat-icon class="icon-md">person</mat-icon>
        <p class="lv-label">Supervisor</p>
        <p class="lv-value">Roger Smith</p>
    </section>
    <section>
      <mat-icon class="icon-md">person</mat-icon>
        <p class="lv-label">Approver</p>
        <p class="lv-value">Mary Lamb</p>
    </section>
  </div>
</mat-card>
